{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="contact-us">
    <div class="banner">
      <img src="{%static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Dashboard
      </h1>
    </div>

    <section class="container mt-5">
      <h2 class="text-center">Welcome to Dashboard</h2>
      <h4 class="text-center text-white-50">
        Hi, {{user.first_name}}
      </h4>

      <div class="table-responsive- mt-3">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Coders Name</th>
              <th scope="col">Visit</th>
            </tr>
          </thead>
          <!-- List of messaged coders  -->
          <tbody>
            {% for hirecoder in hirecoders %}
            {% if user.id == hirecoder.user_id %}
            <tr>
              <th scope="row">{{hirecoder.coder_id}}</th>
              <td>{{hirecoder.coder_name}}</td>
              <td>
                <a href="{% url 'coders_detail' hirecoder.coder_id %}">
                  <div class="btn btn-accent">Go to Page </div>
                </a>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>

    </section>
  </main>

{% endblock %}