{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="contact-us">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        About Us
      </h1>
    </div>
    <section class="container mt-5 mb-5">
      <div class="row mt-5">
        <div class="col-md-4">
          <img src="https://placeimg.com/640/480/any" alt="" class="img-fluid">
        </div>
        <div class="col-md-8 animate__animated animate__fadeInRight">
          <h2 class="text-center">About Project</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aut, itaque quos est recusandae
            earum fugiat numquam hic quasi dignissimos vitae mollitia aperiam tempore cum doloremque et accusamus
            praesentium dolores.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam debitis rerum doloribus repellat nulla
            soluta, est aut ipsa exercitationem quo asperiores atque vel voluptate, facilis voluptas dolores, id sunt
            eaque deserunt sapiente eveniet. Ad reprehenderit temporibus distinctio, deserunt quibusdam accusamus soluta
            eum animi quaerat voluptates rem quia, pariatur voluptatem magnam enim ratione aliquid! Aperiam, autem at.
            tempora quam facilis deleniti explicabo labore, accusantium provident quidem omnis tenetur incidunt esse
            quos nisi.
          </p>
        </div>
      </div>
      <div class="row mt-5">

        <div class="col-md-8  animate__animated animate__fadeInLeft  animate__delay-1s">
          <h2 class="text-center">About Project</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aut, itaque quos est recusandae
            earum fugiat numquam hic quasi dignissimos vitae mollitia aperiam tempore cum doloremque et accusamus
            praesentium dolores.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam debitis rerum doloribus repellat nulla
            soluta, est aut ipsa exercitationem quo asperiores atque vel voluptate, facilis voluptas dolores, id sunt
            eaque deserunt sapiente eveniet. Ad reprehenderit temporibus distinctio, deserunt quibusdam accusamus soluta
            eum animi quaerat voluptates rem quia, pariatur voluptatem magnam enim ratione aliquid! Aperiam, autem at.
            tempora quam facilis deleniti explicabo labore, accusantium provident quidem omnis tenetur incidunt esse
            quos nisi.
          </p>
        </div>
        <div class="col-md-4">
          <img src="https://placeimg.com/640/480/any" alt="" class="img-fluid">
        </div>
      </div>
    </section>
  </main>

{% endblock %}