{% extends 'base.html' %} {% load static %} {% block content %}
<main class="single-page-coders">
	<div class="banner">
		<img
			src="{% static './assets/images/bg-banner.png' %}"
			alt=""
			class="img-fluid w-100"
		/>
		<h1 class="text-center">{{coder.name}}</h1>
	</div>

	<section class="head container mt-5 mb-5">
		<div class="row">
			<div class="col-md-4 d-flex justify-content-center align-items-center">
				<h1 class="text-center">{{coder.name}}</h1>
			</div>
			<div class="col-md-4 d-flex justify-content-center align-items-center">
				<h1 class="text-accent text-center">
					{{coder.developer_type}} Developer
				</h1>
			</div>
			<div class="col-md-4 d-flex justify-content-center align-items-center">
				<img src="{{coder.photo.url}}" class="img-fluid" alt="team-member" />
			</div>
		</div>
		<a
			class="btn btn-warning mt-5 col-md-3 d-flex justify-content-center align-items-center"
			href="{% url 'coder_update' %}"
			>Update Profile</a
		>
		<a
			class="btn btn-danger mt-3 col-md-3 d-flex justify-content-center align-items-center"
			href="{% url 'coder_delete' %}"
			>Delete Profile</a
		>
	</section>

	<!--Video URL -->
	<!--
	<section class="video container text-center">
		<iframe
			width="560"
			height="315"
			src="https://www.youtube.com/embed/{{coder.video_url}}"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen
		></iframe>
	</section>
	-->
	<section class="descritpion container">
		<h4>Description</h4>
		<p class="mt-2 mb-2">{{coder.description | safe }}</p>
	</section>
	<section class="descritpion container">
		<h4>Skillset</h4>
		<ul>
			<li>{{coder.skills}}</li>
		</ul>
	</section>

	<section class="container w-50">
		<div class="person-description mt-2">
			<button class="btn btn-accent">City : {{coder.city}}</button>
			<button class="btn btn-accent">Level : {{coder.level_type}}</button>
		</div>
		<div class="person-description mt-2">
			<button class="btn btn-accent">Job type : {{coder.job_type}}</button>
			<button class="btn btn-accent">Stack : {{coder.developer_type}}</button>
		</div>
	</section>

	<!-- job -->
	<h1 class="text-center">Recommended Jobs for you</h1>
	<section class="container mt-3 grid">
		<!-- person 1 -->
		{% for job in jobs %}
		<div class="card border-0 text-center">
			<div class="feature-text">
				<a href="{% url 'job_detail' job.id %}">
					<img
						src="{{ job.photo.url }}"
						class="card-img-top"
						alt="team-member"
					/>
				</a>
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ job.title }}</h5>
				<p class="card-text">{{ job.developer_type }}</p>
				<div class="person-description mt-2">
					<button class="btn btn-accent">
						City : {{job.company_location}}
					</button>
					<button class="btn btn-accent">Level : {{job.level_type}}</button>
					<button class="btn btn-accent">
						No. of vacancy/s : {{job.no_of_vacancies}}
					</button>
				</div>
				<div class="person-description mt-2">
					<button class="btn btn-accent">Job type : {{job.job_type}}</button>
					<button class="btn btn-accent">Stack : {{job.developer_type}}</button>
					<button class="btn btn-accent">Deadline: {{job.deadline}}</button>
				</div>
				<div class="person-description mt-2">
					<button class="btn btn-accent">Skills: {{job.skills}}</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
</main>
{% endblock %}
