{% extends 'base.html' %} {% load static %} {% block content %}

<main class="jobs-page">
	<!-- Banner  -->
	<div class="banner">
		<img
			src="{% static './assets/images/banner1.jpg' %}"
			alt=""
			class="img-fluid w-100"
		/>
		<h1 class="text-center">Jobs</h1>
	</div>
	{% include 'messages.html' %}

	<!-- Search box for types  -->
	<section class="searchbox container mt-5 p-3 bg-accent">
		<form method="GET" action="{% url 'jobs_search' %}">
			<div class="form-row">
				<div class="form-group col-md-4">
					<select name="developer_type" id="inputState" class="form-control">
						<option selected disabled hidden>Developer</option>
						{% for developer_type in developer_type_search %} #array loop
						<option>{{developer_type}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group col-md-4">
					<select name="level_type" id="inputState" class="form-control">
						<option selected disabled hidden>Level</option>
						{% for level in level_type_search %}
						<option value="{{level}}">{{level}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group col-md-4">
					<select name="job_type" class="form-control">
						<option selected disabled hidden>Job Type</option>
						{% for job in job_type_search %}
						<option value="{{job}}">{{job}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-light">Search</button>
			</div>
		</form>
	</section>

	<!-- job -->
	<section class="container mt-3 grid">
		<!-- person 1 -->
		{% for job in jobs %}
		<div class="card border-0 text-center">
			<div class="feature-text">
				<a href="{% url 'job_detail' job.id %}">
					<img
						src="{{ job.company.photo.url }}"
						class="card-img-top"
						alt="team-member"
					/>
				</a>
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ job.title }}</h5>
				<p class="card-text">{{ job.developer_type }}</p>
				<div class="person-description mt-2">
					<button class="btn btn-accent">
						City : {{job.company_location}}
					</button>
					<button class="btn btn-accent">Level : {{job.level_type}}</button>
					<button class="btn btn-accent">
						No. of vacancy/s : {{job.no_of_vacancies}}
					</button>
				</div>
				<div class="person-description mt-2">
					<button class="btn btn-accent">Job type : {{job.job_type}}</button>
					<button class="btn btn-accent">Stack : {{job.developer_type}}</button>
					<button class="btn btn-accent">Deadline: {{job.deadline}}</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>

	<!-- Pagination  -->
	<!--
  <div class="container section pagination-section mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
            >Previous</a
          >
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  -->
</main>

{% endblock %}
