{% extends 'base.html' %} {% load static %} {% block content %}

<main class="jobs-page">
	<!-- Banner  -->
	<div class="banner">
		<img
			src="{% static './assets/images/bg-banner.png' %}"
			alt=""
			class="img-fluid w-100"
		/>
		<h1 class="text-center">List of Jobs Posted</h1>
	</div>
	{% include 'messages.html' %}

	<!-- job -->
	<section class="container mt-3 grid">
		<!-- person 1 -->
		{% for job in jobs %}
		<div class="card border-0 text-center">
			<div class="feature-text">
				<a href="{% url 'job_detail' job.id %}">
					<img
						src="{{ job.photo.url }}"
						class="card-img-top"
						alt="team-member"
					/>
				</a>
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ job.title }}</h5>
				<p class="card-text">{{ job.developer_type }}</p>
				<div class="person-description mt-2">
					<button class="btn btn-accent">
						City : {{job.company_location}}
					</button>
					<button class="btn btn-accent">Level : {{job.level_type}}</button>
					<button class="btn btn-accent">
						No. of vacancy/s : {{job.no_of_vacancies}}
					</button>
				</div>
				<div class="person-description mt-2">
					<button class="btn btn-accent">Job type : {{job.job_type}}</button>
					<button class="btn btn-accent">Stack : {{job.developer_type}}</button>
					<button class="btn btn-accent">Deadline: {{job.deadline}}</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
</main>

{% endblock %}
