{% extends 'base.html' %} 
{% load static %}

{% block content %}

<main class="coders-page">
  <div class="banner">
    <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100" />
    <h1 class="text-center">Coders</h1>
  </div>
  {% include 'messages.html' %}

  <!-- Search box  -->
  <section class="searchbox container mt-5 p-3 bg-accent">
    <form method="GET" action="#">
      <div class="form-row">
        <div class="form-group col-md-4">
          <select name="city" id="inputState" class="form-control">
            <option selected disabled hidden>City</option>
            <!-- {% for city in city_search  %} #array loop -->
            <option>City</option>
            <!-- {% endfor %} -->
          </select>
        </div>
        <div class="form-group col-md-4">
          <select name="camera_type" id="inputState" class="form-control">
            <option selected disabled hidden>Camera Type</option>
            <!-- {% for camera in camera_type_search %} -->
            <option value="Camera">Camera</option>
            <!-- {% endfor %} -->
          </select>
        </div>
        <div class="form-group col-md-4">
          <select name="category" class="form-control">
            <option selected disabled hidden>Category</option>
            <!-- {% for category in category_search %} -->
            <option value="Category}">Category</option>
            <!-- {% endfor %} -->
          </select>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-light">Search</button>
      </div>
    </form>
  </section>


  <section class="container mt-3 grid">
      <!-- person 1 -->
      {% for coder in coders %}
      <div class="card border-0 text-center">
        <div class="feature-text">
            <a href="{% url 'coders_detail' coder.id %}">
            <img
                src="{{ coder.photo.url }}"
                class="card-img-top"
                alt="team-member"
            />
            </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ coder.name }}</h5>
          <p class="card-text">{{ coder.developer_type }}</p>
          <div class="person-description mt-2">
            <button class="btn btn-accent">City : {{coder.city}}</button>
            <button class="btn btn-accent">Level : {{coder.level_type}}</button>
          </div>
          <div class="person-description mt-2">
            <button class="btn btn-accent">Job type : {{coder.job_type}}</button>
            <button class="btn btn-accent">Stack : {{coder.developer_type}}</button>
          </div>
        </div>
      </div>
      {% endfor %}
  </section>

  <div class="container section pagination-section mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
            >Previous</a
          >
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</main>

{% endblock %}
