{% extends 'base.html' %} {% load static %} {% block content %}
<main class="single-page-coders">
	<div class="banner">
		<img
			src="{% static './assets/images/banner2.jpg' %}"
			alt=""
			class="img-fluid w-100"
		/>
		<h1 class="text-center">{{coder.name}}</h1>
	</div>

	<section class="head container mt-5 mb-5">
		<div class="row">
			<div class="col-md-4 d-flex justify-content-center align-items-center">
				<h1 class="text-center">{{coder.name}}</h1>
			</div>
			<div class="col-md-4 d-flex justify-content-center align-items-center">
				<h1 class="text-accent text-center">
					{{coder.developer_type}} Developer
				</h1>
			</div>
			<div class="col-md-4 d-flex justify-content-center align-items-center">
				<img src="{{coder.photo.url}}" class="img-fluid" alt="team-member" />
			</div>
		</div>
	</section>

	<section class="descritpion container">
		<h4>Description</h4>
		<p class="mt-2 mb-2">{{coder.description | safe }}</p>
	</section>

	<section class="descritpion container">
		<h4>Skillset</h4>
		<ul>
			<li>{{coder.skills}}</li>
		</ul>
	</section>
	<section class="descritpion container">
		<h4>You can reach me at:</h4>
		<p class="mb-2">{{coder.user.email | safe }}</p>
	</section>

	<section class="container w-50">
		<div class="person-description mt-2">
			<button class="btn btn-accent">City : {{coder.city}}</button>
			<button class="btn btn-accent">Level : {{coder.level_type}}</button>
		</div>
		<div class="person-description mt-2">
			<button class="btn btn-accent">Job type : {{coder.job_type}}</button>
			<button class="btn btn-accent">Stack : {{coder.developer_type}}</button>
		</div>
	</section>
</main>
{% endblock %}
